/* CSS Sub-Modules */
@import url('../components/LandingPage/LandingPage.css');

/* Color Palette */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

button {
  padding: 10px 20px;
  margin-left: 10px; 
  margin-right: 10px;
  background-color: #66c04f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Pixelify Sans", sans-serif;

}

button:hover {
  background-color: #4bb137;
}
